body{
    background-color: #FFFCED;
}

h1{
    font-family: 'Mochiy Pop P One';
    color: #FFD600;
    text-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
    font-size: 2.5rem;
    margin-top: 1rem;
}

/* produk di sini ges */

h5{
    font-size: 1rem;
    font-family: 'Amiko';
    color: #3F3C2C;
}

header{
    text-align: center;
}

.title{
    margin-top : 3%;
    font-family: 'Amiko';
    font-weight: bolder;
    color: #3F3C2C;
}

.harga{
    margin-top: 2%;
    font-family: 'Amiko';
    font-weight: bolder;
    color: #3DA200;
}

button{
    font-family: 'Amiko';
    font-weight: lighter;
    color: #3F3C2C;
    background-color: #FFD600;
    border-radius: 5px;
    border: none;
    width: 100%;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #3DA200;
    color: white;
}

.foto img{
    width:14rem;
    height: 8rem;
    border-radius: 5px;
    padding: 0%;
}

.item{
    width: fit-content;
    height: fit-content;
}


.list-container {
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    margin-top: 2%;
    flex-direction: row; 
}

.list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
    row-gap: 24px;
}

.list .item{
    text-align: center;
    background-color: white;
    padding: 12px;
    border-radius: 15px;
    box-shadow: 0px 0px 2rem -1rem #3F3C2C;
}

/* keranjang di sini ges */

.list-container .chart{
    text-align: center;
    background-color: white;
    padding: 12px;
    border-radius: 15px;
    box-shadow: 0px 0px 2rem -1rem #3F3C2C;
    width: 24rem;
    height: 100%;
    margin-left: 24px;
    padding: 16px;
}


.list-container .chart h4{
    font-family: 'Amiko';
    text-align: left;
    margin-top: 0%;
    color: #3F3C2C;
}

.total{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total h5 {
    color: #3F3C2C;
    text-align: left;
    margin: 0%;
}

.total h3 {
    font-family: 'Amiko';
    font-weight: bolder;
    color: #3DA200;
    text-align: right;
    margin: 0%;
}

.bayar{
    color: white;
    background-color: #685800;
    font-weight: bolder;
}

ul .citem{
    padding: 0 0 0 0;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    padding: 4px 4px;
    border-radius: 5px;
    margin-bottom: 24px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.item-image img{
    width:8rem;
    height: 4.5rem;
    border-radius: 5px;
    margin-right: 2%;
}

.cart-item-info {
    flex: 1;
    text-align: left;
    padding-left: 15px;
}

.cart-item-title {
    font-family: 'Amiko';
    font-weight: bolder;
    color: #3F3C2C;
}

.cart-item-price {
    font-family: 'Amiko';
    font-weight: bolder;
    color: #3DA200;
}

.cart-item-quantity {
    display: flex;
    align-items: center;
}

.cart-item-quantity button{
    font-family: 'Amiko';
    font-weight: bold;
    color: #FFFFFF;
    background-color: #ff3c00;
    border: none;
    border-radius: 20%;
    width: 2.4rem;
    height: 2.4rem;
    margin: 0 5px;
}

.cart-item-quantity .delete-button:hover {
    background-color: #ffbf00;
}

.delete-button {
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.fa-trash {
    margin-right: 0px;
    color: #3F3C2C;
}

input{
    width: 2rem;
    height: 2rem;
    border-radius: 5px;
    border: 1px solid #3F3C2C;
    text-align: center;
    font-family: 'Amiko';
    font-weight: bolder;
    color: #3F3C2C;
}

/* modal di sini ges */
.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    background-color: #fefefe;
    border-radius: 24px;
    margin: 15% auto; 
    padding: 20px;
    width: 30%; 
    max-height: fit-content;
    text-align: center;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  h1.penutup {
    font-family: 'Mochiy Pop P One';
    color: #FFD600;
    text-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
    font-size: 2.5rem;
    margin-top: 1rem;
    font-weight: bolder;
    text-align: center;
    margin-top: 0;
}

.agree {
    font-family: 'Amiko';
    color: #3F3C2C;
    float: center;
    font-size: 12px;
    font-weight: lighter;
    text-decoration: underline;
    text-align: center;
  }
  
  .agree:hover,
  .agree:focus {
    color:#3F3C2C;    
    text-decoration: none;
    cursor: pointer;
  }